.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
  width: 100%
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fdb51b;
  color: #fdb51b;
  box-shadow: 9999px 0 0 -5px #fdb51b;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fdb51b;
  color: #fdb51b;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #fdb51b;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #fdb51b;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #fdb51b;
  }

  30% {
    box-shadow: 9984px 0 0 2px #fdb51b;
  }

  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #fdb51b;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #fdb51b;
  }

  30% {
    box-shadow: 9999px 0 0 2px #fdb51b;
  }

  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #fdb51b;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #fdb51b;
  }

  30% {
    box-shadow: 10014px 0 0 2px #fdb51b;
  }

  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #fdb51b;
  }
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  background-color: #fdb51b !important
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #fdb51b !important;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon, .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: #fdb51b !important;
}